<h1>{{titulo}}</h1>

<h3>Accede a las diferentes areas haciendo clic en los accesos ("products" o "realtimeproducts") en la parte superior de la pagina.</h3>
<h3>O accede al perfil desde "Your Profile".</h3>

<script defer src="js/home.js"></script>