<div class="login-container">
    <div class="avatar">
        <img src="img/avatar.png" alt="Avatar">
    </div>
    <form class="login-form" id="resetpassForm">
        <div class="input-group">
            <label for="email"></label>
            <input type="text" id="email" name="email" placeholder="e-Mail" required>
        </div>

        <button type="submit" id="resetpassmail-btn" class="login-btn" value="Reset Password">Reset Password by Mail</button>
        <a href="/signup" class="forgot-password">Sign Up</a>
    </form>
</div>

<script defer src="js/reqresetpassword.js"></script>