<div class="login-container">
    <div class="avatar">
        <img src="img/avatar.png" alt="Avatar">
    </div>
    <form class="login-form" id="resetpassForm">
        <!-- <div class="input-group">
            <label for="email"></label>
            <input type="text" id="email" name="email" placeholder="e-Mail" required>
        </div> -->
        <div class="input-group">
            <label for="newpassword"><i class="fas fa-lock"></i></label>
            <input type="newpassword" id="newpassword" name="newpassword" placeholder="New Password" required>
        </div>
        <!-- <button type="submit" id="resetpass-btn" class="login-btn" value="Reset Password">Reset Password</button>
             <button type="submit" id="resetpassmail-btn" class="login-btn" value="Reset Password">Reset Password by Mail</button> -->
             <button type="submit" id="resetpasstokenmail-btn" class="login-btn" value="Reset Password">Reset Password</button>
        <a href="/signup" class="forgot-password">Sign Up</a>
    </form>
</div>

<script defer src="js/resetpassword.js"></script>