<div id="hhmm"> </div>
<div class="cabecera_divEnlacesHorizontales">
    <ul class="cabecera_divEnlacesHorizontales_ul">

        <li class="cabecera_divEnlacesHorizontales_ul_li">
            <a href="/" class="cabecera_Enlaces_img_a" target="_self">
                <p class="cabecera_Enlaces_img_p">[home]</p>
            </a>
        </li>

        <li class="cabecera_divEnlacesHorizontales_ul_li">
            <a href="/products?web=1" class="cabecera_Enlaces_img_a" target="_self">
                <p class="cabecera_Enlaces_img_p">[products]</p>
            </a>
        </li>

        <li class="cabecera_divEnlacesHorizontales_ul_li">
            <a href="/realtimeproducts?web=1" class="cabecera_Enlaces_img_a" target="_self">
                <p class="cabecera_Enlaces_img_p">[realtimeproducts]</p>
            </a>
        </li>

        {{#if isLogin}}
        <li class="cabecera_divEnlacesHorizontales_ul_li">
            <a href="/profile?web=1" class="cabecera_Enlaces_img_a" target="_self">
                <p class="cabecera_Enlaces_img_p">[Your Profile]</p>
            </a>
        </li>

        <li class="cabecera_divEnlacesHorizontales_ul_li">
            <a href="/api/sessions/logout?web=1" class="cabecera_Enlaces_img_a" target="_self">
                <p class="cabecera_Enlaces_img_p">[Log Out]</p>
            </a>
        </li>
        {{else}}
        <li class="cabecera_divEnlacesHorizontales_ul_li">
            <a href="/signup" class="cabecera_Enlaces_img_a" target="_self">
                <p class="cabecera_Enlaces_img_p">[Sign Up / Register]</p>
            </a>
        </li>

        <li class="cabecera_divEnlacesHorizontales_ul_li">
            <a href="/login" class="cabecera_Enlaces_img_a" target="_self">
                <p class="cabecera_Enlaces_img_p">[Sign In / Log In]</p>
            </a>
        </li>

        <li class="cabecera_divEnlacesHorizontales_ul_li">
            <a href="api/sessions/github" class="cabecera_Enlaces_img_a" target="_self">
                <p class="cabecera_Enlaces_img_p">[Log In GitHub]</p>
            </a>
        </li>
        {{/if}}

        <li class="cabecera_divEnlacesHorizontales_ul_li">
            <a href="/calc" class="cabecera_Enlaces_img_a" target="_blank">
                <p class="cabecera_Enlaces_img_p">[Calculator]</p>
            </a>
        </li>




    </ul>
</div>